<launch>

  <arg name="robot_ip" default="192.168.0.2" />
  <arg name="use_gripper" default="true" />
  <arg name="controller" default="cartesian_impedance_example_controller" />

  <!-- Start real robot -->
  <include file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg use_gripper)" />
  </include>

  <rosparam file="$(find franka_teleop_lmt)/config/franka_example_controllers.yaml"
            subst_value="true" />


  <!-- Spawn follower controller -->
  <node pkg="controller_manager"
        type="spawner"
        name="teleop_spawner"
        args="$(arg controller)"
        output="screen" />

</launch>
